input.form-radio {
  @apply h-5 w-5 border-2 border-transparent focus:border-transparent focus:ring-2 focus:ring-main focus:ring-offset-0 focus:outline-none rounded-full cursor-pointer transition;

  &.form-field-active:checked {
    @apply bg-main-dark;
  }

  &.form-field-error {
    @apply focus:ring-critical;

    &:checked {
      @apply bg-critical-dark;
    }
  }

  &.form-field-valid {
    @apply focus:ring-positive;

    &:checked {
      @apply bg-positive-dark;
    }
  }
}
