.form-slider-wrapper {
  @apply flex-grow p-base;

  &:not(.form-slider-wrapper-disabled) {
    @apply cursor-pointer;
  }

  &.form-slider-wrapper-disabled {
    @apply text-color-subtle cursor-not-allowed;
  }
}

.form-slider-track {
  @apply flex-grow h-xs rounded;
}

.form-slider-thumb {
  @apply bg-main font-bold py-xxs px-xs rounded ring-2 ring-transparent text-center text-color-semantic transition-shadow;

  min-width: var(--spacing-xl);

  &:focus {
    @apply outline-none ring-main-dark;
  }

  &.form-slider-thumb-disabled {
    @apply bg-neutral cursor-not-allowed text-color-subtle;
  }
}
