
.badge {
  @apply font-bold inline px-xxs rounded text-center text-color-semantic transition;

  min-width: var(--line-height-text-sm);

  &.badge-main {
    @apply bg-main;

    &.badge-subtle {
      @apply bg-main-faded text-color-main;
    }
  }

  &.badge-neutral {
    @apply bg-neutral;

    &.badge-subtle {
      @apply bg-neutral-faded text-color-neutral;
    }
  }

  &.badge-info {
    @apply bg-info;

    &.badge-subtle {
      @apply bg-info-faded text-color-info;
    }
  }

  &.badge-positive {
    @apply bg-positive;

    &.badge-subtle {
      @apply bg-positive-faded text-color-positive;
    }
  }

  &.badge-caution {
    @apply bg-caution;

    &.badge-subtle {
      @apply bg-caution-faded text-color-caution;
    }
  }

  &.badge-critical {
    @apply bg-critical;

    &.badge-subtle {
      @apply bg-critical-faded text-color-critical;
    }
  }
}
