.btn {
  @apply inline-flex select-none items-center justify-center rounded border border-transparent p-xxs text-center font-bold text-color-semantic outline-none transition;

  &.btn-xs {
    @apply border p-0 text-sm;
  }

  &.btn-sm {
    @apply border text-sm;
  }

  &.btn-lg {
    @apply border-md p-xs text-lg;
  }

  &.btn-rounded-none {
    @apply rounded-none;
  }
  
  &.btn-rounded-full {
    @apply rounded-full;
  }

  &.btn-full-width {
    @apply flex flex-grow;
    /* add `width` in case the button is not inside a flex container */
    width: 100%;
  }

  &.btn-solid,
  &.btn-outline {
    @apply shadow-sm;
  }

  &:disabled {
    @apply cursor-auto;
  }

  &:focus {
    @apply outline-none ring-2;
  }

  &:active,
  &.btn-active {
    @apply ring-0;
  }

  &.btn-main {
    &:focus {
      @apply ring-main-dark;
    }

    &.btn-solid {
      @apply bg-main;

      &:active,
      &.btn-active {
        @apply bg-main-dark text-color-main;
      }

      &:disabled {
        @apply bg-main-faded text-color-main-faded;

        &.btn-loading {
          @apply text-color-main;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-main-light;
      }
    }

    &.btn-outline {
      @apply border-main-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-main-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-main;

      &:disabled {
        @apply text-color-main-faded;

        &.btn-loading {
          @apply text-color-main;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-main-faded text-color-main-faded;
        }

        &:hover, &.btn-active {
          @apply bg-main-faded;
        }
      }
    }
  }

  &.btn-neutral {
    &:focus {
      @apply ring-neutral-dark;
    }

    &.btn-solid {
      @apply bg-neutral;

      &:active,
      &.btn-active {
        @apply bg-neutral-dark text-color-neutral;
      }

      &:disabled {
        @apply bg-neutral-faded text-color-neutral-faded;

        &.btn-loading {
          @apply text-color-neutral;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-neutral-light;
      }
    }

    &.btn-outline {
      @apply border-neutral-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-neutral-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-neutral;

      &:disabled {
        @apply text-color-neutral-faded;

        &.btn-loading {
          @apply text-color-neutral;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-neutral-faded text-color-neutral-faded;
        }

        &:hover, &.btn-active {
          @apply bg-neutral-faded;
        }
      }
    }
  }

  &.btn-info {
    &:focus {
      @apply ring-info-dark;
    }

    &.btn-solid {
      @apply bg-info;

      &:active,
      &.btn-active {
        @apply bg-info-dark text-color-info;
      }

      &:disabled {
        @apply bg-info-faded text-color-info-faded;

        &.btn-loading {
          @apply text-color-info;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-info-light;
      }
    }

    &.btn-outline {
      @apply border-info-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-info-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-info;

      &:disabled {
        @apply text-color-info-faded;

        &.btn-loading {
          @apply text-color-info;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-info-faded text-color-info-faded;
        }

        &:hover, &.btn-active {
          @apply bg-info-faded;
        }
      }
    }
  }

  &.btn-positive {
    &:focus {
      @apply ring-positive-dark;
    }

    &.btn-solid {
      @apply bg-positive;

      &:active,
      &.btn-active {
        @apply bg-positive-dark text-color-positive;
      }

      &:disabled {
        @apply bg-positive-faded text-color-positive-faded;

        &.btn-loading {
          @apply text-color-positive;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-positive-light;
      }
    }

    &.btn-outline {
      @apply border-positive-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-positive-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-positive;

      &:disabled {
        @apply text-color-positive-faded;

        &.btn-loading {
          @apply text-color-positive;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-positive-faded text-color-positive-faded;
        }

        &:hover, &.btn-active {
          @apply bg-positive-faded;
        }
      }
    }
  }

  &.btn-caution {
    &:focus {
      @apply ring-caution-dark;
    }

    &.btn-solid {
      @apply bg-caution;

      &:active,
      &.btn-active {
        @apply bg-caution-dark text-color-caution;
      }

      &:disabled {
        @apply bg-caution-faded text-color-caution-faded;

        &.btn-loading {
          @apply text-color-caution;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-caution-light;
      }
    }

    &.btn-outline {
      @apply border-caution-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-caution-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-caution;

      &:disabled {
        @apply text-color-caution-faded;

        &.btn-loading {
          @apply text-color-caution;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-caution-faded text-color-caution-faded;
        }

        &:hover, &.btn-active {
          @apply bg-caution-faded;
        }
      }
    }
  }

  &.btn-critical {
    &:focus {
      @apply ring-critical-dark;
    }

    &.btn-solid {
      @apply bg-critical;

      &:active,
      &.btn-active {
        @apply bg-critical-dark text-color-critical;
      }

      &:disabled {
        @apply bg-critical-faded text-color-critical-faded;

        &.btn-loading {
          @apply text-color-critical;
        }
      }

      &:not(:disabled):not(:active):hover {
        @apply bg-critical-light;
      }
    }

    &.btn-outline {
      @apply border-critical-faded;

      &:active,
      &.btn-active,
      &:focus {
        @apply ring-critical-dark;
      }
    }

    &.btn-outline,
    &.btn-subtle {
      @apply text-color-critical;

      &:disabled {
        @apply text-color-critical-faded;

        &.btn-loading {
          @apply text-color-critical;
        }
      }

      &:not(:disabled) {
        &:active {
          @apply bg-critical-faded text-color-critical-faded;
        }

        &:hover, &.btn-active {
          @apply bg-critical-faded;
        }
      }
    }
  }
}
