@import '../../../node_modules/react-toastify/dist/ReactToastify.css';

:root {
  --toastify-color-light: var(--color-surface);
  --toastify-color-dark: var(--color-surface);
  --toastify-color-info: var(--color-info-dark);
  --toastify-color-success: var(--color-positive-dark);
  --toastify-color-warning: var(--color-caution-dark);
  --toastify-color-error: var(--color-critical-dark);
  --toastify-color-transparent: rgb(255 255 255 / 70%);

  --toastify-icon-color-info: var(--color-info);
  --toastify-icon-color-success: var(--color-positive);
  --toastify-icon-color-warning: var(--color-caution);
  --toastify-icon-color-error: var(--color-critical);

  --toastify-toast-width: 400px;
  --toastify-toast-background: var(--color-surface);
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: var(--z-popover);

  --toastify-text-color-light: var(--color-text);
  --toastify-text-color-dark: var(--color-text);

  --toastify-text-color-info: var(--color-text-semantic);
  --toastify-text-color-success: var(--color-text-semantic);
  --toastify-text-color-warning: var(--color-text-semantic);
  --toastify-text-color-error: var(--color-text-semantic);

  --toastify-spinner-color: var(--color-text);
  --toastify-spinner-color-empty-area: var(--color-text-subtle);

  --toastify-color-progress-light: linear-gradient(
    to right,
    var(--color-main-dark),
    var(--color-main)
  );
  --toastify-color-progress-dark: linear-gradient(
    to right,
    var(--color-main-dark),
    var(--color-main)
  );
  --toastify-color-progress-info: var(--color-info);
  --toastify-color-progress-success: var(--color-positive);
  --toastify-color-progress-warning: var(--color-caution);
  --toastify-color-progress-error: var(--color-critical);
}
