
.copy-text-wrapper {
  display: inline-flex;
  align-items: flex-end;
  position: relative;

  & .copy-text-button {
    @apply ml-xxs shadow;

    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    right: 0;

    & .copy-text-status {
      @apply bg-surface font-light px-xxs rounded-l text-color-strong text-sm transition min-w-max;

      text-align: right;
      position: absolute;
      right: 100%;
      top: 50%;
      transform-origin: right;
      transform: translate(0%, -50%) scale(0, 1);
      opacity: 0;
    }

    &:hover .copy-text-status {
      transform: translate(0%, -50%) scale(1, 1);
      opacity: 1;
    }

    & .copy-text-icon {
      @apply bg-surface rounded transition p-xxs isolate;

      color: var(--color-text-strong);

      &.copy-text-icon-copied {
        color: var(--color-positive);
      }
    }

    &:hover .copy-text-icon:not(.copy-text-icon-copied) {
      color: var(--color-main);
    }

  }

  &.copy-text-wrapper-only-hover {
    & .copy-text-button {
      @apply transition;

      position: absolute;
      opacity: 0;
    }

    &:hover .copy-text-button {
      opacity: 1;
    }
  }
}
