.modal-dialog {
  @apply p-base fixed inset-0 overflow-hidden z-modal-backdrop bg-overlay flex items-center;

  backdrop-filter: blur(1px);
}

.modal-element {
  @apply w-full rounded bg-surface text-color shadow-xl mx-auto mt-auto md:mb-auto outline-0 flex-1 flex flex-col overflow-hidden max-h-full;
}
