.horizontal-scroll-container {
  @apply grid grid-flow-col overflow-x-auto snap-x scroll-smooth;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    scroll-snap-align: center;
  }
}
