.skeleton {
  background:
    linear-gradient(
      -90deg,
      var(--color-surface-subtle) 0%,
      var(--color-surface-strong) 50%,
      var(--color-surface-subtle) 100%
    );
  background-size: 400% 400%;
  animation: skeleton-wave 1.2s ease-in-out infinite;
}

@keyframes skeleton-wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -135% 0;
  }
}
