.rs__control {
  @apply rounded border border-transparent bg-input-background text-color transition !important;

  &:focus-within {
    @apply border-main ring-main !important;
  }
}

.rs__control--is-disabled {
  @apply bg-neutral-faded text-color-neutral !important;
}

.rs__input {
  box-shadow: none !important;
}

.rs__input input {
  @apply text-sm text-color !important;

  &:focus {
    @apply ring-0 !important;
  }
}

.rs__group {
  @apply p-0 !important;
}

.rs__group-heading {
  @apply sticky top-0 bg-input-background py-xs !important;
}

.rs__input-container {
  @apply text-color !important;
}

.rs__placeholder {
  @apply text-sm text-color-neutral !important;
}

.rs__single-value {
  @apply text-color !important;
}

.rs__multi-value {
  @apply bg-neutral !important;
}

.rs__multi-value__label {
  @apply text-color-semantic !important;
}

.rs__multi-value__remove {
  @apply rounded-l-none text-color-semantic !important;

  &:hover,
  &:focus {
    @apply bg-critical !important;
  }
}

.rs__clear-indicator {
  @apply text-color-subtle !important;

  &:hover,
  &:focus {
    @apply cursor-pointer text-color-critical !important;
  }
}

.rs__indicator-separator {
  @apply bg-border !important;
}

.rs__dropdown-indicator {
  @apply text-color-subtle !important;

  &:hover,
  &:focus {
    @apply cursor-pointer text-color !important;
  }
}

.rs__menu {
  @apply top-auto z-fixed !important;
}

.rs__menu-list {
  @apply rounded bg-input-background p-0 !important;
}

.rs__option--is-focused {
  @apply bg-main text-color-semantic !important;
}

.rs__option--is-selected {
  @apply bg-main-dark text-color-semantic !important;
}

.rs__menu-notice--no-options {
  @apply text-color-subtle !important;
}
