input.form-field,
textarea.form-field {
  @apply rounded border border-transparent placeholder-neutral bg-input-background text-sm transition focus:border-main focus:ring-main;
}

.form-field-error {
  @apply focus:border-critical focus:ring-critical;
}

.form-field-success {
  @apply focus:border-positive focus:ring-positive;
}

.form-field-input-wrapper {
  @apply w-full rounded border border-transparent bg-input-background transition focus-within:border-main focus-within:ring-main;

  & .form-field {
    @apply w-full border-none bg-transparent focus:ring-0;
  }

  &.form-field-error {
    @apply focus-within:border-critical focus-within:ring-critical;
  }

  &.form-field-success {
    @apply focus-within:border-positive focus-within:ring-positive;
  }
}

input.form-field:disabled,
textarea.form-field:disabled,
.form-field-disabled {
  @apply bg-input-background-disabled text-color-neutral-faded;

  &:hover {
    @apply cursor-not-allowed;
  }
}

.form-field-select {
  & > option {
    @apply bg-input-background text-color;
  }
}

label {
  @apply cursor-pointer;
}
