.space-wrap-left-xxs {
  @apply -ml-xxs -mt-xxs;

  & > * {
    @apply ml-xxs mt-xxs;
  }
}

.space-wrap-left-xs {
  @apply -ml-xs -mt-xs;

  & > * {
    @apply ml-xs mt-xs;
  }
}

.space-wrap-left-sm {
  @apply -ml-sm -mt-sm;

  & > * {
    @apply ml-sm mt-sm;
  }
}

.space-wrap-left-base {
  @apply -ml-base -mt-base;

  & > * {
    @apply ml-base mt-base;
  }
}

.space-wrap-left-lg {
  @apply -ml-lg -mt-lg;

  & > * {
    @apply ml-lg mt-lg;
  }
}

.space-wrap-left-xl {
  @apply -ml-xl -mt-xl;

  & > * {
    @apply ml-xl mt-xl;
  }
}

.space-wrap-left-xxl {
  @apply -ml-xxl -mt-xxl;

  & > * {
    @apply ml-xxl mt-xxl;
  }
}

.space-wrap-right-xxs {
  @apply -mr-xxs -mt-xxs;

  & > * {
    @apply mr-xxs mt-xxs;
  }
}

.space-wrap-right-xs {
  @apply -mr-xs -mt-xs;

  & > * {
    @apply mr-xs mt-xs;
  }
}

.space-wrap-right-sm {
  @apply -mr-sm -mt-sm;

  & > * {
    @apply mr-sm mt-sm;
  }
}

.space-wrap-right-base {
  @apply -mr-base -mt-base;

  & > * {
    @apply mr-base mt-base;
  }
}

.space-wrap-right-lg {
  @apply -mr-lg -mt-lg;

  & > * {
    @apply mr-lg mt-lg;
  }
}

.space-wrap-right-xl {
  @apply -mr-xl -mt-xl;

  & > * {
    @apply mr-xl mt-xl;
  }
}

.space-wrap-right-xxl {
  @apply -mr-xxl -mt-xxl;

  & > * {
    @apply mr-xxl mt-xxl;
  }
}
