input.form-checkbox[type="checkbox"] {
  @apply h-lg w-lg focus:ring-offset-0;

  &:checked,
  &:checked:focus {
    @apply bg-main-dark;

    &.form-field-error {
      @apply bg-critical-dark;
    }

    &.form-field-success {
      @apply bg-positive-dark;
    }

    &.form-field-disabled {
      @apply bg-neutral-faded;
    }
  }
}
