button.form-field-toggle {
  @apply bg-neutral relative flex w-11 border-2 border-transparent focus:border-transparent ring-transparent ring-2 focus:outline-none focus:ring-2 focus:ring-main rounded-full cursor-pointer transition;

  & .form-field-toggle-handle {
    @apply pointer-events-none inline-block h-5 w-5 rounded-full shadow transform translate-x-0 ring-0 transition;

    background-color: var(--color-text-semantic);

    &.form-field-toggle-handle-active {
      @apply translate-x-5;
    }
  }

  &.form-field-toggle-active {
    @apply bg-main-dark;
  }

  &.form-field-error {
    @apply bg-critical-dark focus:ring-critical;
  }

  &.form-field-valid {
    @apply bg-positive-dark focus:ring-positive;
  }

  &.form-field-disabled {
    @apply bg-neutral-faded select-none focus:ring-transparent;

    & .form-field-toggle-handle {
      @apply bg-neutral;
    }
  }
}
