.tab {
  @apply py-xs px-sm font-medium text-color-subtle text-sm transition flex items-center justify-center;

  &.tab-with-border {
    @apply border-b-md border-transparent;
  }

  &.tab-pill {
    @apply rounded-md;
  }

  &:hover {
    @apply text-color;

    &.tab-with-border {
      @apply border-border;
    }
  }

  &:focus {
    @apply outline-none;
  }

  &:active {
    @apply text-color-main-faded;

    &.tab-with-border {
      @apply border-main-faded;
    }
  }

  &.tab-active {
    @apply text-color-main;

    &.tab-with-border {
      @apply border-main;
    }

    &.tab-pill {
      @apply bg-main-faded;
    }
  }

  &.tab-disabled {
    @apply cursor-default select-none text-color-neutral-faded;

    &:hover {
      &.tab-with-border {
        @apply border-transparent;
      }
    }
  }
}
