
.context-menu-option {
  @apply bg-surface-subtle px-base py-sm select-none cursor-pointer;

  &:not(.context-menu-disabled-option) {
    &:hover {
      @apply bg-surface text-color-strong transition;
    }

    &:first-child {
      @apply rounded-t;
    }

    &:last-child {
      @apply rounded-b;
    }

    &:active {
      @apply bg-surface-strong text-color-subtle;
    }
  }

  &.context-menu-disabled-option {
    @apply cursor-not-allowed opacity-50;
  }
}
