/* Based on https://glennmccomb.com/articles/building-a-pure-css-animated-svg-spinner */
/* We could have relied on calc() to simplify this but during development we realized */
/* using calc() broke the animation */

.spinner {
  --dash-base: 74;
  --dash-small: 60;
  --dash-large: 20;
  --stroke-width: 6;
  --size: var(--line-height-text);

  animation: 2.5s linear infinite svg-animation;
  height: var(--size);
  width: var(--size);

  &.spinner-xxl {
    --dash-base: 310;
    --dash-small: 280;
    --dash-large: 75;
    --stroke-width: 10;
    --size: var(--line-height-text-xxl);
  }

  &.spinner-xl {
    --dash-base: 150;
    --dash-small: 135;
    --dash-large: 50;
    --stroke-width: 7;
    --size: var(--line-height-text-xl);
  }

  &.spinner-lg {
    --dash-base: 100;
    --dash-small: 90;
    --dash-large: 55;
    --stroke-width: 4;
    --size: var(--line-height-text-lg);
  }

  &.spinner-sm {
    --dash-base: 38;
    --dash-small: 34;
    --dash-large: 18;
    --stroke-width: 3;
    --size: var(--line-height-text-sm);
  }

  & .segment {
    display: block;
    stroke: currentColor;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: var(--stroke-width);
    transform-origin: 50% 50%;
  }

  & .segment-foreground {
    animation: 2s ease-in-out infinite both circle-animation;
    stroke-dasharray: var(--dash-base);
    stroke-opacity: 50%;
  }

  & .segment-background {
    stroke-opacity: 50%;
  }
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: var(--dash-small);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: var(--dash-large);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: var(--dash-small);
    transform: rotate(360deg);
  }
}
