.btn-group {
  @apply flex space-x-0.5;

  & .btn {
    @apply rounded-none;

    &:first-child {
      @apply rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }

    &:only-child {
      @apply rounded-r rounded-l;
    }
  }
}
