/* stylelint-disable declaration-colon-space-after */
:root {
  /* brand is specific to the user/organization
     that are used for presentational components/views, ie: PDF's or emails
  */
  --color-brand-accent:    #720505;
  --color-brand-primary:   #02369d;
  --color-brand-secondary: #3d4b79;
}
