/* stylelint-disable declaration-colon-space-after */
:root {
  /* Border Sizing */
  --border-none: 0;
  --border-base: 1px;
  --border-md: 2px;
  --border-lg: 4px;
  --border-xl: 8px;

  /* Border Radius Sizing */
  --border-radius-none: 0;
  --border-radius-sm: 0.07rem;
  --border-radius-base: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.365rem;
  --border-radius-xl: 0.5rem;
  --border-radius-xxl: 0.75rem;

  /* Icon Sizing */
  --size-icon-sm: 1rem;
  --size-icon: 1.5rem;
  --size-icon-lg: 2rem;

  /* Text Sizing */
  --size-text-sm: 0.875rem;
  --size-text: 1rem;
  --size-text-md: 1.25rem;
  --size-text-lg: 1.5rem;
  --size-text-xl: 2.25rem;
  --size-text-xxl: 3.75rem;

  /* Text line heights */
  --line-height-text-sm: 1.25rem;
  --line-height-text: 1.5rem;
  --line-height-text-md: 1.75rem;
  --line-height-text-lg: 2rem;
  --line-height-text-xl: 2.75rem;
  --line-height-text-xxl: 3.75rem;
}
