/* stylelint-disable declaration-colon-space-after */
:root {
  /* Spacing --- */
  --spacing-xxs:                  0.25rem;
  --spacing-xs:                   0.5rem;
  --spacing-sm:                   0.75rem;
  --spacing-base:                 1rem;
  --spacing-lg:                   1.25rem;
  --spacing-xl:                   2rem;
  --spacing-xxl:                  3rem;
}
