/* stylelint-disable declaration-colon-space-after */
:root {
  /* Z-Indices --- */
  --z-sticky: 1000;
  --z-fixed: 1010;
  --z-dropdown: 1020;
  --z-offcanvas: 1030;
  --z-tooltip: 1040;
  --z-backdrop: 1050;
  --z-modal-backdrop: 1050;
  --z-modal: 1060;
  --z-popover: 1070;
}
