@import './partials/typography.css';
@import './partials/spacing.css';

html,
body {
  @apply bg-background text-color;

  font-family: var(--base-font-family);
  font-size: var(--size-text);
}

/*
  This is required for user-agent fullscreen mode in browsers:
  https://stackoverflow.com/questions/16163089/background-element-goes-black-when-entering-fullscreen-with-html5
*/
:fullscreen,
::backdrop {
  background-color: var(--color-background);
}

.flipX {
  --tw-scale-x: -1;
}

.flipY {
  --tw-scale-y: -1;
}

/* Gecko Scrollbar */
* {
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}

/* Blink Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;

  border: 2px solid rgb(0 0 0 / 0%);
  background: var(--color-scrollbar-thumb);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply rounded-full;

  background: var(--color-scrollbar-thumb-highlight);
  border: 2px solid rgb(0 0 0 / 0%);
  background-clip: padding-box;
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: var(--color-scrollbar-thumb);
}
