.form-field-color-picker {
  @apply bg-surface border border-border !important;

  & div {
    @apply border-border !important;
  }

  & input {
    @apply bg-input-background rounded shadow-none !important;
  }

  & label {
    @apply text-color !important;
  }
}
